build
build-debug
.cache
.root
.undodir
*.sw*
*.un~
dot
*.bc
*.mlir
*.hevm
*.o
*.so
*.txt
*.dot
*.csv
!CMakeLists.txt
*__pycache__
*.cst
*.nsys-rep
*.sqlite
!.gitignore
python/hecate/dist
python/hecate/hecate.egg-info
examples/optimized
examples/traced
Session.vim
.venv
