certifi==2023.7.22
charset-normalizer==3.2.0
cmake==3.27.1
filelock==3.12.2
idna==3.4
Jinja2==3.1.2
lit==16.0.6
MarkupSafe==2.1.3
mpmath==1.3.0
networkx==3.1
numpy==1.25.2
nvidia-cublas-cu11==11.10.3.66 ; platform_system=="Linux"
nvidia-cuda-cupti-cu11==11.7.101 ; platform_system=="Linux"
nvidia-cuda-nvrtc-cu11==11.7.99 ; platform_system=="Linux"
nvidia-cuda-runtime-cu11==11.7.99 ; platform_system=="Linux"
nvidia-cudnn-cu11==8.5.0.96 ; platform_system=="Linux"
nvidia-cufft-cu11==10.9.0.58 ; platform_system=="Linux"
nvidia-curand-cu11==10.2.10.91 ; platform_system=="Linux"
nvidia-cusolver-cu11==11.4.0.1 ; platform_system=="Linux"
nvidia-cusparse-cu11==11.7.4.91 ; platform_system=="Linux"
nvidia-nccl-cu11==2.14.3 ; platform_system=="Linux"
nvidia-nvtx-cu11==11.7.91 ; platform_system=="Linux"
Pillow==10.0.0
requests==2.31.0
sympy==1.12
torch==2.0.1
torchvision==0.15.2
triton==2.0.0 ; platform_system=="Linux"
typing_extensions==4.7.1
urllib3==2.0.4
